services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ufroomUser
      POSTGRES_PASSWORD: ufroompassword
      POSTGRES_DB: ufroomdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql   

volumes:
  postgres_data: 
